.header {
  background-color: #da291c;
  display : flex ;
  margin:-8px;
  }
.header h1{
  font-family: verdana;
  margin-left: auto;
  margin-right: auto;
  color:white;
}
.header img{  
  margin-right: auto;
}
.menu{
  font-family: verdana;
  display:flex;
  gap:10%;
  background-color: #F5F5F5;
  padding-left:10%;
  }
.menu :hover{
  color: #0056b3;
}
body{
  font-family: verdana;
  background-color: #F5F5F5;
  }

table{
  font-family: verdana;
  background-color: #FFFFFF;
  margin-left: auto;
  margin-right: auto;
  }
form{
  font-family: verdana;
  }
 .footer {
  clear: both; /* Asegura que el pie de página no se superponga con otros elementos flotantes */
  background-color: #da291c;
  margin: -8px;
  padding: 1px;
  color: white;
}
.tabla-ods{
  text-align:center;
}
