.header {
  background-color: #da291c;
  display : flex ;
width:100%;
  }
.header h1{
  margin-left: auto;
  margin-right: auto;
  text-align:center;
  color:white;
}
.header img{
  margin-right: auto;
}
.menu{
  font-family: verdana;
  display:flex;
  gap:10%;
  background-color: #F5F5F5;
  padding-left:10%;
  }
.menu :hover{
  color: #0056b3;
}
body{
  font-family: verdana;
  background-color: #F5F5F5;
  }
table{
  font-family: verdana;
  background-color: #F5F5F5;
  margin-left: auto;
  margin-right: auto;
  }
  img{
  margin-left: auto;
  margin-right: auto;
  display: flex;}
 .footer {
  background-color: #da291c;
width:100%;
  padding: 1px;
  color: white;
} 
